<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="parking.manager.mapper.CarMapper">

    <select id="findCars" resultType="car">
        select carId,carType,userId from car
    </select>
    <select id="selectById" resultType="car">
        select carId,carType from t_car where carId=#{carId}
    </select>

    <select id="findCarsByMap" parameterType="map" resultType="car">
        SELECT * FROM t_car
        <where>
            <if test="carType!=null and carType!=''">
                carType =#{carType}
            </if>
            <if test="carName!=null and carName!=''">
                AND carName = #{carName}
            </if>
            <if test="carTypeId!=nulupdateFlagl and carTypeId!= 0">
                AND carTypeId = #{carTypeId}
            </if>
        </where>
    </select>
    <insert id="insert" parameterType="car" useGeneratedKeys="true" keyProperty="carId">
        insert into t_car (carType) values(#{carType})
    </insert>
    <update id="update" parameterType="car">
        update t_car set
        <if test="carName!=null and carName!=''">
            carName = #{carName},
        </if>
        <if test="carColor!=null and carColor!=''">
            carColor = #{carColor},
        </if>
        <if test="carNumber!=null and carNumber!=''">
            carNumber =#{carNumber},
        </if>
        <if test="purchaseDate!=null">
            purchaseDate = #{purchaseDate},
        </if>
        <if test="carRemark!=null and carRemark!=''">
            carRemark =#{carRemark}
        </if>
        where carId =#{carId}
    </update>
    <update id="updateFlag">
        update t_car set taxStatus ='0' where carId = #{carId}
    </update>
</mapper>