<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="parking.manager.mapper.MenuMapper">
    <select id="findMenusByRoleId" resultType="menu">
        select m.* from sys_role r
                left  join sys_role_menu rm on r.roleId =rm.rId
                left join sys_menu m on rm.menuId=m.menuId
                where r.roleId=#{roleId}
    </select>
</mapper>