<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="parking.manager.mapper.OrderMapper">
    <resultMap id="orderMap" type="user">
        <id property="userId" column="userId"></id>
        <result property="userName" column="userName"></result>
        <result property="phone" column="phone"></result>
        <collection property="userCarList" ofType="userCar">
            <result property="leaseStartTime" column="leaseStartTime"></result>
            <result property="leaseEndTime" column="leaseEndTime"></result>
            <result property="leaseStatus" column="leaseStatus"></result>
            <result property="leaseType" column="leaseType"></result>
            <result property="rent" column="rent"></result>
            <result property="deleteFlag" column="deleteFlag"></result>
            <association property="car" javaType="car">
                <id property="carId" column="carId"></id>
                <result property="carName" column="carName"></result>
                <result property="carColor" column="carColor"></result>
                <result property="carNumber" column="carNumber"></result>
            </association>
            <association property="user" javaType="user">
                <id property="userId" column="userId"></id>
                <result property="userName" column="userName"></result>
                <result property="phone" column="phone"></result>
            </association>
        </collection>
    </resultMap>


    <select id="findOrdersByMap" resultMap="orderMap">
        SELECT u.userId,u.userName,u.phone,
        c.carId,c.carName,c.carColor,c.carNumber,
        uc.leaseStartTime,uc.leaseEndTime,uc.leaseStatus,uc.leaseType,uc.rent,uc.deleteFlag
        FROM `t_user_car` uc,t_user u,t_car c
        where u.userId = uc.uId and uc.cId = c.carId
    </select>

    <update id="modifyOrder" parameterType="map">
        update t_user_car
        <set>
            <trim suffixOverrides=",">
                <if test="leaseStartTime!=null">
                    leaseStartTime=#{leaseStartTime},
                </if>
                <if test="leaseEndTime!=null">
                    leaseEndTime =#{leaseEndTime},
                </if>
                <if test="leaseStatus!=null and leaseStatus!=''">
                    leaseStatus=#{leaseStatus},
                </if>
                <if test="leaseType!=null and leaseType!=''">
                    leaseType=#{leaseType},
                </if>
                <if test="rent!=null and rent!=0">
                    rent=#{rent},
                </if>
            </trim>
        </set>
        where uId=#{uId} and cId=#{cId}
    </update>

    <insert id="insertOrder" parameterType="map">
        insert into t_user_car (uId,cId,leaseStartTime,leaseEndTime,leaseStatus,leaseType,rent)
        values(#{uId},#{cId},#{leaseStartTime},#{leaseEndTime},#{leaseStatus},#{leaseType},#{rent})
    </insert>

    <update id="deleteOrder" parameterType="map">
        update t_user_car set deleteFlag = '1' where uId=#{userId} and cId=#{carId}
    </update>
</mapper>