<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="parking.manager.mapper.RoleMapper">
    <select id="getRolesByUserId" resultType="role">
    select c.roleId,c.roleName from t_user a
    LEFT JOIN t_user_role b on a.userId = b.userId
    LEFT JOIN t_role c on b.roleId =c.roleId
    where a.userId= #{userId}
    </select>

    <select id="findRolesByMap" resultType="role">
        select * from t_role
        <where>
            <if test="roleName!=null and roleName!=''">
                roleName like concat('%',#{roleName},'%')
            </if>
        </where>
    </select>

    <insert id="saveRole" parameterType="role" useGeneratedKeys="true" keyProperty="roleId">
        insert into t_role (roleName,remark) values(#{roleName},#{remark})
    </insert>

    <insert id="saveRm" parameterType="map">
        insert into t_role_menu (roleId,menuId) values(#{roleId},#{menuId})
    </insert>

    <update id="modifyFlag">
        update t_role set deleteFlag ='0' where roleId=#{roleId}
    </update>
    <update id="modifyRole" parameterType="role">
        update t_role
        <set>
            <trim suffixOverrides=",">
                <if test="roleName!=null and roleName!=''">
                    roleName=#{roleName},
                </if>
                <if test="createTime!=null">
                    createTime =#{createTime},
                </if>
                <if test="remark!=null and remark!=''">
                    remark=#{remark},
                </if>
            </trim>
        </set>
        where roleId=#{roleId}
    </update>
</mapper>