<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="parking.manager.mapper.UserMapper">
    <select id="findUserByUserName" resultType="user">
        select * from t_user where userName = #{userName}
    </select>
    <select id="findUsersByMap" parameterType="map" resultType="user">
        select * from t_user
        <where>
            <if test="userName!=null and userName!=''">
                userName like concat('%',#{userName},'%')
            </if>
            <if test="deleteFlag!=null and deleteFlag!='-1'">
                AND deleteFlag = #{deleteFlag}
            </if>
            <if test="phone!=null and phone!=''">
                AND phone like concat('%',#{phone},'%')
            </if>
        </where>
    </select>

    <select id="findUserById" resultType="user">
        select * from t_user where userId = #{userId}
    </select>

    <insert id="saveUser" parameterType="user" useGeneratedKeys="true" keyProperty="userId">
        insert into t_user (<include refid="insertColumn"></include>) values(<include refid="insertValues"></include>)
    </insert>

    <sql id="insertColumn">
        <trim suffixOverrides=",">
            <if test="userName!=null and userName!=''">
                userName,
            </if>
            <if test="password!=null and password!=''">
                password,
            </if>
            <if test="phone!=null and phone!=''">
                phone,
            </if>
            <if test="remark!=null and remark!=''">
                remark,
            </if>
            <if test="licenseNumber!=null and licenseNumber!=''">
                licenseNumber,
            </if>
        </trim>
    </sql>

    <sql id="insertValues">
        <trim suffixOverrides=",">
            <if test="userName!=null and userName!=''">
                #{userName},
            </if>
            <if test="password!=null and password!=''">
                #{password},
            </if>
            <if test="phone!=null and phone!=''">
                #{phone},
            </if>
            <if test="remark!=null and remark!=''">
                #{remark},
            </if>
            <if test="licenseNumber!=null and licenseNumber!=''">
                #{licenseNumber}
            </if>
        </trim>
    </sql>

    <update id="updateInfo" parameterType="user">
        update  t_user set phone =#{phone},password=#{password}, remark =#{remark} where userId =#{userId}
    </update>
    <update id="update" parameterType="user">
        update t_user set  userImage=#{userImage}
        where userId= #{userId}
    </update>

    <update id="updateFlag">
        update t_user set deleteFlag ='0' where userId=#{userId}
    </update>
</mapper>