<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="parking.manager.mapper.UserMapper">
    <select id="findUserByUserName" resultType="user">
        select * from user where userName =#{userName}
    </select>
    <select id="findUserById" resultType="user">
        select * from user where userId = #{userId}
    </select>

    <insert id="saveUser" parameterType="user">
        insert into user (userName,password,phone) values(#{userName},#{password},#{phone})
    </insert>
    <update id="update" parameterType="user">
        update user set userName = #{userName},integral = #{integral},password = #{password},remark = #{remark}
        where userId= #{userId}
    </update>

    <update id="updateFlag">
        update user set flag =0 where userId=#{userId}
    </update>
</mapper>